@font-face {
  font-family: MetropolisThin;
  src: url(../assets/fonts/Metropolis-Thin.otf); }
@font-face {
  font-family: MetropolisLight;
  src: url(../assets/fonts/Metropolis-Light.otf); }
@font-face {
  font-family: Metropolis;
  src: url(../assets/fonts/Metropolis-Regular.otf); }
@font-face {
  font-family: MetropolisBold;
  src: url(../assets/fonts/Metropolis-Bold.otf); }
body {
  margin: 0 !important; }

.main-container {
  background: linear-gradient(0deg, #db0730, #6348ed);
  height: 100vh;
  padding: 15px; }

.title {
  text-align: center; }
  .title-text {
    color: white;
    font-size: 50px;
    font-family: "MetropolisLight"; }
    .title-text-bold {
      font-family: "MetropolisBold"; }
  .title-subtitle {
    color: white;
    font-family: "MetropolisLight"; }
  .title-row {
    height: 20%; }

.coming-text {
  color: white;
  font-family: "MetropolisThin";
  letter-spacing: 20px; }
.coming-row {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }

.circle {
  text-align: center; }
  .circle-row {
    margin: 0px 5vw;
    height: 50%; }

.signup-row {
  height: 20%; }
.signup-svg {
  width: 100%;
  height: 100%;
  position: relative; }
  .signup-svg-line {
    stroke: white;
    stroke-width: 1px; }
.signup-text {
  text-align: center;
  color: white;
  font-family: "MetropolisThin";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  padding: 40px;
  margin: 0; }

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 55vh;
  width: 70vw;
  background: white; }
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-family: Metropolis;
  color: #6348ed;
  cursor: pointer; }
.modal-row {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
.modal-form-label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center; }
  .modal-form-label-text {
    color: black;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    transform: translateY(-34px);
    transition: all 0.3s; }
.modal-form-input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid black;
  color: black;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 75%;
  font-family: "MetropolisLight"; }
  .modal-form-input:focus {
    max-width: 100%;
    width: 100%; }
    .modal-form-input:focus + .modal-form-label-text {
      color: #878787;
      font-size: 13px;
      font-family: "MetropolisThin";
      transform: translateY(-74px); }
  .modal-form-input:valid + .modal-form-label-text {
    font-size: 13px;
    font-family: "MetropolisThin";
    transform: translateY(-74px); }
.modal-form-radio {
  display: flex; }
  .modal-form-radio-title {
    color: black;
    cursor: text;
    line-height: 20px;
    text-transform: uppercase;
    transition: all 0.3s;
    text-align: center;
    margin-top: 25px;
    font-size: 18px;
    font-family: "MetropolisThin"; }
  .modal-form-radio-label {
    flex: 1; }
  .modal-form-radio-input {
    display: none; }
    .modal-form-radio-input:checked + .modal-form-radio-text {
      color: red; }
  .modal-form-radio-text {
    font-family: "Metropolis";
    font-size: 22px; }
.modal-form-button {
  position: absolute;
  bottom: 0;
  right: 20px;
  background: #da0530;
  border: none;
  transform: translateY(40%);
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 25px 45px;
  text-transform: uppercase;
  transition: all 200ms;
  font-family: "Metropolis"; }
  .modal-form-button:hover, .modal-form-button:focus {
    background-color: #a70627;
    outline: 0; }

.in {
  opacity: 1; }

.modal-backdrop.fade {
  opacity: .75; }

/*
breakpoints
transform: scale(0.7);
    transform-origin: top;
*/

/*# sourceMappingURL=main.css.map */
