@font-face {
    font-family: MetropolisThin;
    src: url(../assets/fonts/Metropolis-Thin.otf);
}

@font-face {
    font-family: MetropolisLight;
    src: url(../assets/fonts/Metropolis-Light.otf);
}

@font-face {
    font-family: Metropolis;
    src: url(../assets/fonts/Metropolis-Regular.otf);
}

@font-face {
    font-family: MetropolisBold;
    src: url(../assets/fonts/Metropolis-Bold.otf);
}

body {
    margin: 0 !important;
}

.main-container {
    background: linear-gradient(0deg, #db0730, #6348ed);
    height: 100%;
    padding: 15px;
}

.title {
    text-align: center;
    &-text {
        color: white;
        font-size: 50px;
        font-family: "MetropolisLight";
        &-bold {
            font-family: "MetropolisBold";
        }
    }
    &-subtitle {
        color: white;
        font-family: "MetropolisLight";
    }
    &-row {
        height: 20%;
    }
}

.coming {
    &-text {
        color: white;
        font-family: "MetropolisThin";
        letter-spacing: 20px;
        text-align: center;
        @media screen and (max-width: 550px) {
            font-size: 1.2rem;
            letter-spacing: 13px;
        }
    }
    &-row {
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}

.circle {
    text-align: center;
    &-row {
        margin: 0px 5vw;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: top;
        @media screen and (max-width: 992px) {
            transform: scale(0.55);
        }
        @media screen and (max-width: 760px) {
            transform: scale(0.8);
        }
        @media screen and (max-width: 550px) {
            transform: scale(1.05);
        }
    }
}

.signup {
    &-row {
        height: 20%;
    }
    &-svg {
        width: 100%;
        height: 100%;
        position: relative;
        &-line {
            stroke: white;
            stroke-width: 1px;
        }
    }
    &-text {
        text-align: center;
        color: white;
        font-family: "MetropolisThin";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        cursor: pointer;
        padding: 40px;
        margin: 0;
    }
}

.modal {
    &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        min-width: 70vw;
        background: white;
        @media screen and (max-width: 550px) {
            height: 90vh;
            min-width: 90vw;
        }
    }
    &-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        font-family: Metropolis;
        color: #6348ed;
        cursor: pointer;
    }
    &-row {
        margin: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &-form {
        height: 90%;
        display: flex;
        margin: 10px 5px;
        flex-direction: column;
        @media screen and (max-width: 550px) {
            height: 70%;
        }
        &-label {
            flex: 1;
            display: block;
            letter-spacing: 4px;
            padding-top: 30px;
            text-align: center;
            &-text {
                color: black;
                cursor: text;
                font-size: 20px;
                line-height: 20px;
                text-transform: uppercase;
                transform: translateY(-34px);
                transition: all 0.3s;
                @media screen and (max-width: 550px) {
                    font-size: 15px;
                    line-height: 15px;
                }
            }
        }
        &-input {
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid black;
            color: black;
            font-size: 36px;
            letter-spacing: -1px;
            outline: 0;
            padding: 5px 20px;
            text-align: center;
            transition: all 0.3s;
            width: 75%;
            font-family: "MetropolisLight";
            @media screen and (max-width: 550px) {
                font-size: 30px;
            }
            &:focus {
                max-width: 100%;
                width: 100%;
                &+.modal-form-label-text {
                    color: #878787;
                    font-size: 13px;
                    font-family: "MetropolisThin";
                    transform: translateY(-74px);
                }
            }
            &:valid+.modal-form-label-text {
                font-size: 13px;
                font-family: "MetropolisThin";
                transform: translateY(-74px);
            }
        }
        &-radio {
            flex: 1;
            display: flex;
            padding-bottom: 30px;
            &-title {
                color: black;
                cursor: text;
                line-height: 20px;
                text-transform: uppercase;
                transition: all 0.3s;
                text-align: center;
                margin-top: 25px;
                font-size: 18px;
                font-family: "MetropolisThin";
                @media screen and (max-width: 550px) {
                    font-size: 15px;
                }
            }
            &-label {
                flex: 1;
            }
            &-input {
                display: none;
                &:checked+.modal-form-radio-text {
                    color: #da0530;
                }
            }
            &-text {
                font-family: "Metropolis";
                font-size: 22px;
                cursor: pointer;
                @media screen and (max-width: 550px) {
                    font-size: 18px;
                }
            }
        }
        &-button {
            position: absolute;
            bottom: 0;
            right: 20px;
            background: #da0530;
            border: none;
            transform: translateY(40%);
            color: white;
            cursor: pointer;
            font-size: 20px;
            margin-top: 20px;
            padding: 25px 45px;
            text-transform: uppercase;
            transition: all 200ms;
            font-family: "Metropolis";
            @media screen and (max-width: 550px) {
                padding: 10px 15px;
                font-size: 19px;
            }
            &:hover,
            &:focus {
                background-color: #a70627;
                outline: 0;
            }
        }
    }
}

.in {
    opacity: 1;
}

.modal-backdrop {
    transition: 200ms all linear;
}

.modal-backdrop.fade {
    opacity: .75;
}

.svg-container {
    @media screen and (max-width: 1250px) and (min-width: 992px) {
        transform: scale(1.3);
    }
    @media screen and (max-width: 480px) {
        transform: scale(1.3);
    }
}

html, body {
    height: 100%;
}


/*
breakpoints
transform: scale(0.7);
    transform-origin: top;
*/
